<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>#SHOOK</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script async src="//platform.twitter.com/widgets.js" charset='utf-8'></script>
    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/signup.css">
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand topnav" href="#">#SHOOK</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="/profile">Profile</a>
          </li>
          <li>
            <!-- link to trigger sign up modal -->
            <a data-toggle="modal" data-target="#signUpModal" class="sign-up">Sign up</a>
          </li>
          <li>
            <!-- link to trigger login modal -->
            <a data-toggle="modal" data-target="#loginModal" class="login">Log In</a>
          </li>
          <li>
            <a href='https://twitter.com/shookbot' class='twitter-follow-button' data-show-screen-name='false' data-show-count='false'>Follow @shookbot</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <!-- BEGIN SIGN UP MODAL -->
  <div id="signUpModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">CREATE NEW ACCOUNT</h4>
        </div>
        <div class="modal-body">
          <form class="modal-form">
           <div class="form-group">
             <label for="inputFirstName">First Name</label>
             <input type="text" class="form-control" id="inputFirstName" aria-describedby="firstnameHelp" placeholder="Enter First name">
           </div>
           <div class="form-group">
             <label for="inputUserLastName">Last Name</label>
             <input type="text" class="form-control" id="inputUserLastName" aria-describedby="LastHelp" placeholder="Enter Last name">
           </div>
           <div class="form-group">
             <label for="inputUserName">User Name</label>
             <input type="text" class="form-control" id="inputUserName" aria-describedby="usernameHelp" placeholder="Enter User name">
           </div>
           <div class="form-group">
             <label for="inputEmail1">Email address</label>
             <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
             <small id="emailHelp" class="form-text text-muted">We’ll never share your email with anyone else.</small>
           </div>
           <div class="form-group">
            <label for="inputPassword1">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
           </div>
           <div class="form-group">
            <label for="inputPassword1"> Re-enter Password</label>
            <input type="password" class="form-control" id="inputRePassword" placeholder="Password">
           </div>
          <div class="form-group">
             <label for="profile-image">Profile Photo</label>
             <input type="text" class="form-control" id="inputImage" value="https://" name="profile-image">
          </div>
           <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END SIGN UP MODAL -->

  <!-- BEGIN LOGIN MODAL -->
  <div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">LOG IN</h4>
        </div>
        <div class="modal-body">
          <form class="modal-form">
            <div class="form-group">
              <label for="inputEmail1">Email address</label>
              <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
           <div class="form-group">
            <label for="inputPassword1">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password"><br>
           </div>
           <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END LOGIN MODAL -->

  <a name="about"></a>
  <div class="intro-header">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <div class="intro-message">
                <h1>KEEP IT HONEST</h1>
                <h3>with #SHOOK</h3>
                <hr class="intro-divider">
                <ul class="list-inline intro-social-buttons">
                  <li>
                    <a href="https://cdn0.iconfinder.com/data/icons/math-business-icon-set/93/1_1-512.png" class="btn btn-default btn-lg"><span class="network-name">New Bet</span></a>
                  </li>
                  <li>
                    <a href="https://d30y9cdsu7xlg0.cloudfront.net/png/62770-200.png" class="btn btn-default btn-lg"> <span class="network-name">I'm feeling Lucky</span></a>
                  </li>
                  <li>
                    <a href="#about" class="btn btn-default btn-lg"> <span class="network-name">About</span></a>
                  </li>
                </ul>
              </div>
          </div>
        </div>
    </div>
  </div>

	<a  name="services"></a>
    <div class="content-section-a">
      <div id="about" class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">About #SHOOK</h2>
            <p class="lead">Keeping people honest since 2017.</p>
            <p class="lead">A web app designed to document the terms of bets/challenges to ensure neither party disagrees upon completion.</p>
            <p class="lead">For anyone that enjoys betting and has a "conveniently"  poor memory (especially drunk people).</p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <img class="img-responsive" src="img/ipad.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="content-section-b">
      <div class="container">
        <div class="row">
          <h2 class="section-heading" id="how-it-works-header">How It Works</h2>
          <div class="col-lg-4 col-sm-4  col-sm-4">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">1. Sign In</h2>
            <p class="lead">Click here to sign in or create a profile</p>
          </div>
          <div class="col-lg-4 col-sm-4  col-sm-4">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">2. Add friends</h2>
            <p class="lead">Find an opponent or challenge yourself.</p>
          </div>
          <div class="col-lg-4 col-sm-4  col-sm-4">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">3. Start betting!</h2>
            <p class="lead">Set your own terms and consequences and get notified once the bet is due.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Google Web Fonts and<br>Font Awesome Icons</h2>
            <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
              <img class="img-responsive" src="img/phones.png" alt="">
          </div>
        </div>
      </div>
    </div>

	<a  name="contact"></a>
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
              <h2>Contact Us</h2>
          </div>
          <div class="col-lg-6">
            <ul class="list-inline banner-social-buttons">
              <li>
                <a href="https://www.twitter.com/shookbot" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
              </li>
              <li>
                <a href="https://github.com/sixgun-bridal/shook" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-inline">
              <li>
                <a href="#">Home</a>
              </li>
              <li class="footer-menu-divider">&sdot;</li>
              <li>
                <a href="#about">About</a>
              </li>
              <li class="footer-menu-divider">&sdot;</li>
              <li>
                <a href="#contact">Contact</a>
              </li>
              <li class="footer-menu-divider">&sdot;</li>
              <li>
                <a href="#logout">Log Out</a>
              </li>
            </ul>
            <p class="copyright text-muted small">Copyright &copy; SHOOK 2017. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>

    <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- <script type="text/javascript" src="/clickHandlers.js"></script> -->

</body>

</html>
