<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>#SHOOK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <header class="container-fluid move-down">
      <a class="btn btn-success">#SHOOK</a>
    </header>
    <main>
      <p>It's working!!!</p>
    </main>

    <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/clickHandlers.js">

    </script>
  </body>
</html>
