div.container.topnav {
  padding-right: 50px;
  margin-left: 0px;
  margin-right: 20px;
  width: 100%;
}

.btn-default:hover {
  color: white;
  background-color: rgb(135,189,189);
}

.twitter-follow-button {
  margin-top: 25%;
  margin-left: 20%;
}

#iframe-pic {
  position: absolute;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border: 0;
  z-index: -1;
}

#how-it-works-header {
  margin-left: 1.5%;
}

.col-lg-offset-2 {
   margin-left: 16.66666667%;
   margin-top: 4%;
}

#error {
  color: red;
}

img.same-size {
  width: 120px;
  height: 75px;
  margin-right: 50%;
}

.re-size-img {
  height: 100%;
  width: 100%;
}

div.col-lg-5.col-lg-offset-2.col-sm-6 {
  display: flex;
  justify-content: center;
}
