a.sign-up, a.login {
  cursor: pointer;
}

.modal-header, .modal-footer {
  padding: 5px;
}

.modal-header {
  margin-left: 5px;
  padding: 0;
}

.form-group {
  margin-bottom: 8px;
}

.modal-content {
  width: 40%;
}

.modal-content.re-size {
  width: 80%;
}

.modal-dialog {
  display: flex;
  justify-content: center;
}

#vs {
  /*float: right;*/
}

.form-group {
  clear: both;
}
